<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Battery Recycle App | {% block title %}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <style type="text/css">
            body {
              text-align: center;
            }
        </style>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
